[submodule "home/.config/oh-my-zsh"]
	path = home/.config/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "home/.config/powerline-fonts"]
	path = home/.config/powerline-fonts
	url = git@github.com:powerline/fonts.git
[submodule "home/.config/tmux-resurrect"]
	path = home/.config/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git

[submodule "Vundle.vim"]
	path = Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
