!!------ COLOR SCHEME --------------------------------------------------------!!

!! D_* : dark / low-intensity (normal) colors
!! L_* : light / high-intensity (bold = bright foreground, blink = bright background) colours.

!! Tango color scheme
#define D_black       #2e3436
#define L_black       #555753
#define D_red         #cc0000
#define L_red         #ef2929
#define D_green       #4e9a06
#define L_green       #8ae234
#define D_yellow      #c4a000
#define L_yellow      #fce94f
#define D_blue        #3465a4
#define L_blue        #729fcf
#define D_magenta     #75507b
#define L_magenta     #ad7fa8
#define D_cyan        #06989a
#define L_cyan        #34e2e2
#define D_white       #d3d7cf
#define L_white       #eeeeec

#define D_background  #202020
#define L_foreground  #d0d090
#define L_cursor      #60f080

URxvt*background:     D_background
URxvt*foreground:     L_foreground
URxvt*fading:         0
URxvt*fadeColor:      D_background
URxvt*cursorColor:    L_cursor
URxvt*pointerColorBackground: D_background
URxvt*pointerColorForeground: L_cursor
URxvt*iconFile: /usr/share/icons/Humanity/apps/64/gnome-term.svg
!! black dark/light
URxvt*color0:         D_black
URxvt*color8:         L_black
!! red dark/light
URxvt*color1:         D_red
URxvt*color9:         L_red
!! green dark/light
URxvt*color2:         D_green
URxvt*color10:        L_green
!! yellow dark/light
URxvt*color3:         D_yellow
URxvt*color11:        L_yellow
!! blue dark/light
URxvt*color4:         D_blue
URxvt*color12:        L_blue
!! magenta dark/light
URxvt*color5:         D_magenta
URxvt*color13:        L_magenta
!! cyan dark/light
URxvt*color6:         D_cyan
URxvt*color14:        L_cyan
!! white dark/light
URxvt*color7:         D_white
URxvt*color15:        L_white


!!----- XTERM ----------------------------------------------------------------!!

!XTerm*termName: xterm-256color
!URxvt*termName: rxvt-unicode

!! COLOR
*customization: -color
XTerm*cursorColor: green

!! this makes man pages more like when in console. underline becomes a
!! lightblue tone.
XTerm*colorULMode: true
XTerm*colorUL: lightblue

XTerm*foreground: white
XTerm*background: black
!! black dark/light
!XTerm*color0:
!XTerm*color8:
!! red dark/light
!XTerm*color1:
!XTerm*color9:
!! green dark/light
!XTerm*color2:
!XTerm*color10:
!! yellow dark/light
!XTerm*color3:
!XTerm*color11:
!! blue dark/light
!XTerm*color4:
!XTerm*color12:
!! magenta dark/light
!XTerm*color5:
!XTerm*color13:
!! cyan dark/light
!XTerm*color6:
!XTerm*color14:
!! white dark/light
!XTerm*color7:
!XTerm*color15:


!! SCROLL
XTerm*saveLines: 200000
XTerm*forceBoxChars: true
XTerm*scrollKey: true
XTerm*scrollTtyOutput: false
!XTerm*rightScrollBar: true


!! FONT
XTerm*font: 9x15 

!! TrueType fonts
XTerm*renderFont: true
XTerm*utf8: true
XTerm*locale: true
!XTerm*faceName: xft:dejavu sans mono:autohint=true:antialias=true
XTerm*faceName: xft:ubuntu mono:autohint=true:antialias=true

!! Default
XTerm*faceSize: 12
!! Unreadable
XTerm*faceSize1: 8
!! Tiny
XTerm*faceSize2: 10
!! Small
XTerm*faceSize3: 11
!! Medium
XTerm*faceSize4: 13
!! Large
XTerm*faceSize5: 14
!! Huge
XTerm*faceSize6: 16


!! INPUT / KEYBOARD
XTerm*metaSendsEscape: true


!! UNKNOWN
!XTerm*showMissingGlyphs: true




!!----- URXVT ----------------------------------------------------------------!!

!! COLOR
!URxvt*fading: 0
!URxvt*depth: 32
!URxvt*foreground: white
!URxvt*background: black
!URxvt*background: #2c2c2c
!URxvt*cursorColor: green
!URxvt*cursorColor: orange
!URxvt*colorBD: white
!URxvt*colorIT: white
!URxvt*colorUL: lightblue
!URxvt*underlineColor: yellow

!! SCROLL
URxvt*scrollstyle: plain
URxvt*scrollBar_right: false
URxvt*scrollBar: false
URxvt*scrollKeypress: true
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: false
URxvt*saveLines: 65535
URxvt*secondaryScroll: false
URxvt*buffered: true

!! FONT
!URxvt*font: xft:dejavu sans mono:antialias=true:size=10
!URxvt*font: xft:Ubuntu Mono:autohint=true:antialias=true:size=12,\
!            xft:DejaVu Sans Mono:autohint=true:antialias=true,\
!            xft:FreeMono:autohint=true:antialias=true,\
!            xft:Symbola:autohint=true:antialias=true,\
!            xft:Braille:autohint=true:antialias=true

URxvt*font: xft:Ubuntu Mono derivative Powerline:antialias=trye:size=12
URxvt.keysym.C-0: command:\033]710;xft:Ubuntu Mono derivative Powerline:antialias=trye:size=12\007
!URxvt*boldFont: xft:ubuntu mono:bold:autohint=true:antialias=true:size=12
!URxvt*italicFont: xft:ubuntu mono:italic:autohint=true:antialias=true:size=12
!URxvt*boldItalicFont: xft:ubuntu mono:bold:italic:autohint=true:antialias=true:size=12

!! EXTENSIONS
URxvt.perl-lib: ~/.urxvt/ext
URxvt.perl-ext-common: default,font-size,selection-to-clipboard
!!,vtwheel
URxvt.font-size.step: 1

!! KEYBINDINGS

! Fixed the vim problem with Insert+{Home,End} in Powernote machine
URxvt.keysym.Home:      \033[1~
URxvt.keysym.End:       \033[4~
URxvt.keysym.KP_Home:   \033[1~
URxvt.keysym.KP_End:    \033[4~

URxvt.keysym.C-equal: perl:font-size:increase
URxvt.keysym.C-minus: perl:font-size:decrease

URxvt.keysym.M-Up             : \033[1;3A
URxvt.keysym.M-Down           : \033[1;3B
URxvt.keysym.M-Right          : \033[1;3C
URxvt.keysym.M-Left           : \033[1;3D
URxvt.keysym.M-Page_Up        : \033[5;3~
URxvt.keysym.M-Page_Down      : \033[6;3~
URxvt.keysym.M-Home           : \033[1;3H
URxvt.keysym.M-End            : \033[1;3F
URxvt.keysym.M-S-Up           : \033[1;4A
URxvt.keysym.M-S-Down         : \033[1;4B
URxvt.keysym.M-S-Right        : \033[1;4C
URxvt.keysym.M-S-Left         : \033[1;4D

URxvt.keysym.C-Up             : \033[1;5A
URxvt.keysym.C-Down           : \033[1;5B
URxvt.keysym.C-Right          : \033[1;5C
URxvt.keysym.C-Left           : \033[1;5D
URxvt.keysym.C-Page_Up        : \033[5;5~
URxvt.keysym.C-Page_Down      : \033[6;5~
URxvt.keysym.C-Home           : \033[1;5H
URxvt.keysym.C-End            : \033[1;5F
URxvt.keysym.C-S-Up           : \033[1;6A
URxvt.keysym.C-S-Down         : \033[1;6B
URxvt.keysym.C-S-Right        : \033[1;6C
URxvt.keysym.C-S-Left         : \033[1;6D
!URxvt.keysym.C-S-Page_Up     : seen as Rxvt.keysym.S-Page_Up
!URxvt.keysym.C-S-Page_Down   : seen as Rxvt.keysym.S-Page_Down
URxvt.keysym.C-S-Home         : \033[1;6H
URxvt.keysym.C-S-End          : \033[1;6F
URxvt.keysym.M-C-Up           : \033[1;7A
URxvt.keysym.M-C-Down         : \033[1;7B
URxvt.keysym.M-C-Right        : \033[1;7C
URxvt.keysym.M-C-Left         : \033[1;7D
URxvt.keysym.M-C-Page_Up      : \033[5;7~
URxvt.keysym.M-C-Page_Down    : \033[6;7~
URxvt.keysym.M-C-Home         : \033[1;7H
URxvt.keysym.M-C-End          : \033[1;7F
URxvt.keysym.M-C-S-Up         : \033[1;8A
URxvt.keysym.M-C-S-Down       : \033[1;8B
URxvt.keysym.M-C-S-Right      : \033[1;8C
URxvt.keysym.M-C-S-Left       : \033[1;8D

!URxvt.keysym.Shift-Up:          \033[1;2A
!URxvt.keysym.Shift-Down:        \033[1;2B
!URxvt.keysym.Shift-Right:       \033[1;2C
!URxvt.keysym.Shift-Left:        \033[1;2D
!URxvt.keysym.Control-b:         \002
!URxvt.keysym.Control-c:         \003
!URxvt.keysym.Control-r:         \022
!URxvt.keysym.Control-v:         \026

!Source: 
!http://vim.wikia.com/wiki/Get_Alt_key_to_work_in_terminal

!! UNKNOWN
URxvt*letterSpace: -1
URxvt.mapAlert: true


URxvt.cursorBlink: 1


!!----- X --------------------------------------------------------------------!!

Xcursor.size: 16

Xft.autohint: true
!Xft.hintstyle: hintfull
Xft.hintstyle: hintslight
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!!---- Tabbed ----------------------------------------------------------------!!

URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0





