#
# Author: João Paulo Labegalini de Carvalho <jaopaulolc@gmail.com>
# 

[Unit]
Description=WARSAW Core - Segurança e Prevenção a Fraude
After=network.target

[Service]
Type=forking
RemainAfterExit=no
User=root
Group=root
PIDFile=/var/run/core.pid
ExecStart=/home/max/.local/bin/warsaw-ctl start
ExecStop=/home/max/.local/bin/warsaw-ctl stop

[Install]
WantedBy=multi-user.target
